@charset "utf-8";
/* CSS Document */

/*RESETS*/
header, content, sidebar, nav, footer {
	display:block;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body, body * {
	margin:0;
	padding:0;	
}
a img {
	border:0;	
}
h1, h2, h3{
	font-family:"quicksand", Arial, Helvetica, sans-serif;
}
ul {												
	 margin-left: 20px;
   margin-left: 1.25em;
}
ol {
	 margin-left: 28px;
   margin-left: 1.75em;
}
p, ol, ul, dl{
	margin-bottom: 12px;
  margin-bottom: .75em;
}
li {
	margin-bottom: 4px;
  margin-bottom: 0.25em;
}
/*END RESETS*/

html {
	font-size:16px;  /*1 rem = 16px*/ /*set in px so we can use rem*/
	background-color:#FFFFFF;
}
/*mobile styles*/
@media only screen and (max-width:480px){
	/*disable text sizing on orientation change*/
	html, body, div, aside, header, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
		-webkit-text-size-adjust:none;
	}
	body {
	width: 100%;
	margin: 0 auto;
	min-width: 320px;
	max-width: 480px;	
	}
	#header {
	background-image:url(../images/header-image.jpg);
	overflow:hidden;
	width:100%;	
	}
	#logo{
	display:block;
	/*width: 500px;*/
	width: 25%;
	padding:1.25em 0 0 0;
	padding:20px 0 0 0;
	max-width: 300px;
	min-width: 200px;
	margin:0 auto;
	}
	#header ul img {
		padding:1.25em 0;
		padding:20px 0;
		width:3.645%;
		max-width: 40px;
		min-width:25px;
	}
	#header ul {
		margin:0 ;
		padding:0;
		text-align:center;
	}
	#header li {
		display:inline;
		padding:0 2% 1.25rem 0;
		padding:0 20px 20px 0;
	}
  .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 262px;
  }
	#featured{
	padding:1.25em 1.25em 0 2%;
	padding:20px 20px 0 20px;
	}
	#featured h1{
		padding:0 0 0.25em 0;	
	}
	#content{
	width:100%;   /*comes from 600px content / 960 frame   don't add the padding to the mix*/
	padding:1.25em 2%;
	clear:both;
	}
	#content h1{
	border-bottom:1px solid black;
	margin-bottom:0.25em;	
	}
	#content h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
	}
	.row-1-pic {
	width:100%;
	height:100px;
	padding-right:1%;
	clear:both;	
	}
	.row-1-text{
	width:100%;
	clear:both;

	}
	table, th, td {
    /*border-collapse: collapse;*/
	width:100%;	
	}
	table{
	/*width:100%;	*/
	}
	td{
	border-bottom:1px solid black;	
	}
	.skatecamp{
	width:100%;
	padding-bottom: 1.25em;	
	}
	#sidebar {
	width:100%;
	/*max-width:300px;
	min-width:150px;*/
	padding:1.25em 2%;
	padding:20px 20px;
	clear:both;
	}
	#sidebar h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
	}
	form{
		width:100%;	
	}

	footer{
	width:100%;
	height:70px;
	color:white;
	background-color:#000;
	padding:20px 20px;
	padding:1.25em 2%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	text-align:center;
	}
	#valid {
	margin: 0 auto;	
	}
	
}
/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:780px){
	body {          
	width:100%;
	margin:0 auto;
	min-width:500px;
	max-width:780px;
	}
	#header {
	background-image:url(../images/header-image.jpg);
	overflow:hidden;
	width:100%;	
	}
	#logo{
	display:block;
	/*width: 500px;*/
	width: 25%;
	padding:1.25em 0 0 0;
	padding:20px 0 0 0;
	max-width: 300px;
	min-width: 200px;
	margin:0 auto;
	}
	#header ul img {
		padding:1.25em 0;
		padding:20px 0;
		width:3.645%;
		max-width: 40px;
		min-width:25px;
	}
	#header ul {
		margin:0 ;
		padding:0;
		text-align:center;
	}
	#header li {
		display:inline;
		padding:0 2% 1.25rem 0;
		padding:0 20px 20px 0;
	}

  .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 262px;
  }
	
	#middle{
	font-size:110%;
	overflow: hidden;
	background-color:#FFFFFF;
	margin: 0 auto;
	width:100%;
	min-width:500px;
	max-width:780px;	
	}
	#featured{
	padding:1.25em 1.25em 0 2%;
	padding:20px 20px 0 20px;
	}
	#featured h1{
		padding:0 0 0.25em 0;	
	}
	#content{
	width:96%;   /*comes from 600px content / 960 frame   don't add the padding to the mix*/
	padding:1.25em 2%;
	}
	#content h1{
	border-bottom:1px solid black;
	margin-bottom:0.25em;	
	}
	#content h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
	}
	.lastest-row-1{
	width:100%;
	line-height:100px;
	display:block;
	padding-bottom:1.25em;
	clear:both;
	overflow:hidden;
	}
	.row-1-pic {
	width:39.285714%;
	height:100px;
	padding-right:1%;
	padding-bottom:1.25em;
	float:left;
	clear:both;	
	}
	.row-1-text{
	width:58.928571%;
	float:right;
	padding-bottom:1.25em;	
	}
	table, th, td {
    /*border-collapse: collapse;*/
	width:100%;	
	}
	table{
		/*width:100%;	*/
	}
	td{
		border-bottom:1px solid black;	
	}
	.skatecamp{
	width:100%;
	padding-bottom: 1.25em;	
	}
	#sidebar {
	width:100%;
	/*max-width:300px;
	min-width:150px;*/
	padding:1.25em 2%;
	padding:20px 20px;
	clear:both;
	}
	#sidebar h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
	}
	form{
		width:100%;	
	}
footer{
	width:100%;
	height:70px;
	color:white;
	background-color:#000;
	padding:20px 20px;
	padding:1.25em 2%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	text-align:center;
	}
	#valid {
	margin: 0 auto;	
	}
}
/*desktop styles*/
@media only screen and (min-width:781px) {
	body {          /*these 4 tags are required for the body*/
	font-size:100%;
	font-family:Arial, Helvetica, sans-serif;
	width:960px;
	width:60rem; /*960px/16px*/
	width:100%;
	line-height:1.3;  /*Raven requires it at 1.3 minimum*/ /*use unit-less line height. write as decimal.*/
	color:#000000;	  
	margin: 0 auto;
}
#header {
	background-image:url(../images/header-image.jpg);
	padding:1.25rem 0 0 2%; /*20px*/
	overflow:hidden;
	width:100%;	
}
#logo{
	display:block;
	/*width: 500px;*/
	width: 25%;
	max-width: 300px;
	min-width: 200px;
	margin:0 auto;
}
#header ul img {
	padding:1.25em 0;
	padding:20px 0;
	width:3.645%;
	max-width: 40px;
	min-width:25px;
}
#header ul {
	margin:0 ;
	padding:0;
	text-align:center;
}
#header li {
	display:inline;
	padding:0 2% 1.25rem 0;
	padding:0 20px 20px 0;
}

nav ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

nav ul a {
  display: block;
  padding: 20px;
  padding-right: 0 ; /* important overrides media queries */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

nav ul a:hover {
  background: #eee;
}

nav li {
  float: left;
  width: 14.2857%;
  border-right: 1px solid #ddd;
}

nav li:last-child {
  border-right: none;
}

#middle{
	font-size:110%;
	overflow: hidden;
	background-color:#FFFFFF;
	margin: 0 auto;
	width:100%;
	max-width:960px;
	min-width:570px;	
}
#featured{
	padding:1.25em 1.25em 0 2%;
	padding:20px 20px 0 20px;
	float:none;	
}
#featured h1{
	padding:0 0 0.25em 0;	
}
#content{
	width:37.5rem;
	width:600px;
	width:62.5%;   /*comes from 600px content / 960 frame   don't add the padding to the mix*/
	max-width:600px; 
	min-width:400px;
	float:left;
	font-size:90%;
	padding:1.25em 0 0 2%;
	padding:20px 0 0 20px;
}
#content h1{
	border-bottom:1px solid black;
	margin-bottom:0.25em;	
}
#content h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
}
#content h3{
	margin-bottom:0.25em;
	clear:both;	
}
#content p{
	margin-bottom:0.25em;	
}
.lastest-row-1{
	width:37.5rem;
	width:560px;
	width:100%;
	line-height:100px;
	display:block;
	clear:both;
	
}
.row-1-pic {
	width:220px;
	width:39.285714%;
	padding-right:1%;
	float:left;
	clear:both;	
	padding-bottom:20px;
}
.row-1-text{
	width:330px;
	width:58.928571%;
	float:right;
	padding-bottom:20px;	
}
table, th, td {
    /*border-collapse: collapse;*/
	width:100%;	
}
table{
	/*width:100%;	*/
}
td{
	border-bottom:1px solid black;	
}
.skatecamp{
	width:100%;
	padding-bottom: 1.25em;	
}
#sidebar {
	float:right;
	font-size:90%;
	width:18.75rem;
	width:300px;
	width:31.25%;
	/*max-width:300px;
	min-width:150px;*/
	padding:1.25em 2% 0 0;
	padding:20px 20px 0 0;
}
#sidebar h2{
	border-bottom:1px solid black;
	margin-bottom:0.25em;
} 
form{
		width:100%;	
	}
footer{
	font-family:"quicksand", Arial, Helvetica, sans-serif;
	height:100px;
	color:white;
	font-size:90%;
	background-color:#000;
	padding:30px 20px 20px 20px;
	padding:1.875em 2% 1.25em 2%;
	margin:0 auto;
	clear:both;
	overflow:hidden;
	}
footer p {
	text-align:center;	
}
#valid {
	margin: 0 auto;	
}
	
}